<div class="section">
    <div class="row">
        <ul class="collapsible" data-collapsible="accordion">
            <li ng-repeat="scene in scenes">
                <div class="collapsible-header">{{scene.label}}</div>
                <div class="collapsible-body">
                    <div class="row">
                        <div class="col s12">
                            <div class="row">
                                <div class="col s1">&nbsp;</div>
                                <div class="input-field col s10">
                                    <label class="active" for="name">Name</label>
                                    <input name="name" type="text" ng-model="scene.label">
                                    <span class="character-counter" ng-hide="scene.isRoot">{{140 - countCharacters(scene)}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <div class="row">
                                <div class="col s1">&nbsp;</div>
                                <div class="input-field col s10">
                                    <label for="text">Text</label>
                                    <input name="text" type="text" ng-model="scene.text">
                                    <span class="character-counter">{{140 - countCharacters(scene)}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <div class="row">
                                <div class="col s1">&nbsp;</div>
                                <div class="input-field col s5" ng-repeat="($index, exit) in scene.exits">
                                    <label class="active" for="exit{{$index + 1}}">Exit {{$index + 1}}</label>
                                    <input name="exit{{$index + 1}}" type="text" ng-model="exit.label">
                                    <span class="character-counter">{{140 - countCharacters(scene)}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <div class="row">
                                <div class="col s1">&nbsp;</div>
                                <div class="input-field col s10">
                                    <a class="btn grey darken-4 waves-effect waves-light" ng-click="addExit(scene)" ng-class="{disabled: !canAddExit(scene)}">Add Exit</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="row">
        <div class="col s12">
            <div class="row right-align">
                <a class="btn" ng-click="compile()">Compile Story</a>
            </div>
        </div>
    </div>
</div>
